.header_box {
	width: 100%;
	max-width: 750px;
	margin: 0 auto;
	height: 50px;
	background-color: #125da3;
	position: relative;
}
.header_fixed{
	max-width: 100%;
	position: fixed !important;
	top:0;
	left: 0;
	z-index: 10000;
}
.header_box .nav_back{
	height: 100%;
}
.header_box .nav_back a{
	display: block;
	width: 72px;
	height: 100%;
	box-sizing: border-box;
	padding: 10px;
}
.header_box .nav_back a img{
	display: block;
	height: 22px;
	margin-top: 4px;
}
.header_box .nav_back a span{
	display: block;
	margin-left: 5px;
	font-size: 16px;
	color:#fff;
	margin-top: 4px;
}
.muea_box {
    position: absolute;
    top: 28px;
    right: 0;
    z-index: 1000;
    display: block;
    width: 150px;
    padding: 20px 22px;
    background: url(../img/cai_dan.png) center no-repeat;
    background-size: 106% 100%;
}
.muea_box li{
	display: block;
	text-align: center;
	padding: 10px 0;
	border-top: 1px solid #e5e5e5;
	position: relative;
	width: 90%;
	margin: 0 auto;
}
.muea_box li:first-child{
	border:none;
}
.muea_box li .news_dian{
	display: block;
	position: absolute;
	top:12px;
	right:10%;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: #CF2D28;
}
.nav_title{
	height: 100%;
	text-align: center;
	font-size: 18px;
	color:#fff;
	padding: 14px 0;
}
.nav_list{
	height: 100%;
}
.nav_list .news_btn{
	display: block;
	height: 100%;
	padding: 16px 0;
	position: relative;
}
.nav_list .news_btn span{
	display: block;
	width: 20px;
	height: 20px;
	color:#fff;
	font-size: 12px;
	text-align: center;
	position: absolute;
	top:5px;
	left:18px;
	background-color: #CF2D28;
	border-radius: 50%;
}
.nav_list .news_btn img{
	display: block;
	width: 26px;
	height: 100%;
}
.nav_list .meau_dian{
	display: block;
	height: 100%;
	padding-top: 22px;
	margin-right: 15px;
}
.nav_list .meau_dian img{
	width: 26px;
}

.shai_xuan{
	width: 100%;
	max-width: 750px;
	margin: 0 auto;
	height: 50px;
	background-color: #f8f8f8;
	border-bottom: 1px solid #e5e5e5;
}
.shai_xuan ul{
	height: 100%;
	padding: 0 15px;
}
.shai_xuan ul li{
	width: 20%;
	float: left;
	height: 100%;
	display: block;
	font-size: 14px;
	position: relative;
	padding-left: 5%;
}
.shai_xuan ul li:first-child{
	font-size: 16px;
	padding-left:0;
}
.shai_xuan ul li img{
	width: 10px;
	margin: 22px 0 0 5px;
}
.shai_xuan ul li:first-child img{
	margin: 22px 0 0 0;
}
.shai_xuan ul li span{
	margin-top: 14px;
}
.shai_xuan ul li:first-child{
	width: 40%;
}
.shai_xuan ul li:first-child img{
	width: 40px;
	margin-top: 6px;
}
.shai_xuan ul li:first-child span{
	margin: 14px 0 0 10px;
}
.down_alert{
	width: 100px;
	display: none;
	position: absolute;
	top: 35px;
    left: -13px;
	z-index: 100;
	padding: 20px 10px;
	background: url(../img/alert_bg.png) center no-repeat;
	background-size: 100% 100%;
}
.down_alert input{
	display: block;
	width: 20px;
	text-align: center;
	padding-top: 10px;
	margin: 6px 5px 0 5px;
	color:#333;
	float: left;
	font-size: 14px;
}
.down_alert p{
	line-height: 25px;
	color: #333;
}
.rotate_act{
	transform:rotate(180deg);
	-ms-transform:rotate(180deg); 	/* IE 9 */
	-moz-transform:rotate(180deg); 	/* Firefox */
	-webkit-transform:rotate(180deg); /* Safari 和 Chrome */
	-o-transform:rotate(180deg); 	/* Opera */
}
.data_list{
	width: 100%;
	padding:15px;
	max-width: 750px;
	margin: 0 auto;
	margin-top: 10px;
	background-color: #fff;
}
.data_list p{
	color:#333;
	font-size: 16px;
}
.data_list ul{
	display: block;
	width: 100%;
}
.data_list ul li{
	float: left;
	width: 50%;
	height: 60px;
	margin-top: 10px;
}
.data_list ul li a{
	display: block;
	width: 100%;
	height: 100%;
}
.data_list ul li a div{
	margin-top: 5px;
}
.data_list ul li a div img{
	width: 30px;
	margin-top: 10px;
}
.data_list ul li a div:first-child{
	width: 25%;
}
.data_list ul li a div:first-child+div{
	width: 75%;
}
.data_list ul li a div:first-child+div p{
	margin-top: 5px;
}
.data_list ul li a div:first-child+div p:first-child{
	color:#999;
	margin: 0;
}

footer{
	width:100%;
	height: 50px;
	margin: 0 auto;
	border-top: 1px solid #e5e5e5;
	position: fixed;
	bottom: 0;
	/*background: #fff;*/
}
footer ul{
	width:100%;
	height: 50px;
	max-width: 750px;
	margin: 0 auto;
	background: #fff;
}
footer ul li{
	width:25%;
	float: left;
	text-align: center;
}
footer ul li img{
	width:25%;
	margin:3px auto 0 auto;
}
@media only screen and (min-width: 400px) {
	.header_box .nav_back {
	    width: 25%;
	}
	.header_box .nav_title {
	    width: 50%;
	}
	.header_box .nav_list{
	    width:25%;
	}
		
}
@media only screen and (min-width: 750px) {
	footer ul li img{
		width:13%;
		margin-top: 3px;
	}
	.header_box .nav_back {
	    width: 15%;
	}
	.header_box .nav_title {
	    width: 70%;
	}
	.header_box .nav_list{
	    width:15%;
	}
}
footer ul li a.li-a p{
	color: #125da3;
}
footer ul li a p{
	font-size: 11px;
}

/**********客户*********/
.tab_menu{
	width: 100%;
	max-width: 750px;
	margin: 0 auto;
	padding: 0 15px;
	background-color: #f8f8f8;
	border-bottom: 1px solid #e5e5e5;
}
.tab_menu a{
	display: inline-block;
	padding: 10px 0;
	margin-left: 8%;
}
.tab_menu a:first-child{
	margin-left: 0;
}
.tab_act{
	color:#125da3 !important;
	border-bottom: 2px solid #125DA3;
}
.tab_box{
	width: 100%;
	max-width: 750px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 15px;
	background-color: #fff;
	position: relative;
}
.tab_box .tab_items{
	width: 100%;
}
.tab_box .tab_items .info_list{
	width: 100%;
	border-top: 1px solid #e5e5e5;
}
.tab_box .tab_items .info_list:after{
	content:"";
	display:block;
	height:0;
	clear:both;
}
.tab_box .tab_items .info_list:first-child{
	border-top:0;
}
.tab_box .tab_items .info_list span{
	display: block;
	float: left;
	color:#333;
	box-sizing: border-box;
	padding: 6px 0;
	font-size: 0.9em;
}
.tab_box .tab_items .info_list span:first-child{
	color:#666;
	text-align: right;
	padding-right: 15px;
	background-color: #f0f0f0;
	width: 30%;
}
.tab_box .tab_items .info_list span+span{
	width: 70%;
	padding-left: 10px;
	vertical-align: bottom;
}
.tab_boxs2{
	border:1px solid #e5e5e5;
}
.btns_box{
	padding: 10px 0;
	text-align: center;
}
.btns_box a{
	display: inline-block;
	padding: 5px 10px;
	border-radius: 5px;
	color:#125DA3;
	border:1px solid #125DA3;
	margin: 0 2px;
}
.btns_box a.look_btn{
	color:#fff;
	background-color: #125da3;
}
.clicked_btn{
	color:#333 !important;
	background-color: #ccc !important;
	border:1px solid #ccc !important;
}
.btn_act{
	color:#fff !important;
	background-color: #125da3;
}
.nothing_box{
	color:#999;
	font-size: 1.6em;
	text-align: center;
	margin: 30% auto;
}
.share_box{
	width: 90%;
	position: absolute;
	top:20px;
	left:5%;
	z-index: 10000;
	overflow: hidden;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px 10px #ccc;
}
.share_box .share_title{
	width: 100%;
	text-align: center;
	font-size: 16px;
	box-sizing: border-box;
	padding: 10px 0;
	color:#333;
	font-weight: 700;
	background-color: #f8f8f8;
	border-bottom: 1px solid #ccc;
}

.share_box ul{
	padding:10px 15px;
}
.share_box .bu_men li{
	display: block;
	float: left;
	position: relative;
	width: 30%;
	color:#333;
	font-size: 14px;
	text-align: center;
	margin: 3px;
	box-sizing: border-box;
	padding:3px 0;
	border-radius: 5px;
	border:1px solid #e5e5e5;
}
.share_box .bu_men li input{
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
	z-index: 2;
	opacity: 0;
}
.share_box .teams_list{
	padding:10px 15px;
	border-top: 1px solid #e5e5e5;
}
.share_box .teams {
	display: block;
	padding: 0;
}
.share_box .teams li{
	display: block;
	width: 50%;
	float: left;
	color:#333;
	font-size: 14px;
	text-align: left;
	box-sizing: border-box;
	padding:3px 0;
	border-radius: 5px;
}
.teams_list .all_div{
	float: left;
	color:#333;
	display: block;
	width: 100%;
	margin-bottom: 5px;
}
.teams_list .all_div input[type=checkbox],
.share_box .teams li input{
	width: 16px;
	height: 16px;
	margin:3px 5px 0 0;
	float:left;
}
.teams_list .all_div input[type=checkbox]{
	margin:3px 5px 0 0 !important;
}
.share_box .teams li label{
	float:left;
}
.teams_list .all_div input[type=checkbox],
.teams input[type=checkbox] {
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
	cursor: pointer;
	vertical-align: bottom;
	background: #fff;
	border: 1px solid #125da3;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}

.teams input[type=checkbox]:active {
	border-color: #125da3;
	background: #fff;
}

.teams input[type=checkbox]:hover {
	border-color: #125da3;
	-webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
}

.teams input[type=checkbox]:checked {
	background: #fff;
}

.teams input[type=checkbox]:checked::after {
	content: url(http://ssl.gstatic.com/ui/v1/menu/checkmark.png);
	display: block;
	position: absolute;
	top: -3px;
	right: 0px;
	left: -5px
}

.teams input[type=checkbox]:focus {
	outline: none;
	border-color: #125da3;
}
.bottom_btn{
	width: 100%;
	text-align: center;
	padding-bottom: 20px;
}
.bottom_btn button{
	width: 100px;
	padding: 5px 0;
	margin: 0 10px;
	border:1px solid #125DA3;
	border-radius: 20px;
	text-align: center;
}
.bottom_btn #sure_btn{
	color:#fff;
	background-color: #125DA3;
}
.bu_men_act{
	color:#fff !important;
	border:1px solid #125DA3;
	background-color: #125DA3;
}
.tab_box .add_box{
	width: 100%;
	margin: 20px auto;
}
.tab_box .add_box a{
	display: block;
	width: 50%;
	color:#125DA3;
	max-width: 200px;
	margin: 0 auto;
	padding: 8px 0;
	border:1px solid #125DA3;
	border-radius: 20px;
	text-align: center;
}
.ming_pian {
	background-color: #f0f0f0;
}
.ming_pian span{
	display: block !important;
	float: left; 
}
.ming_pian span{
	height: 100%;
}
.ming_pian span:first-child+span{
	width: 70% !important;	
	box-sizing: border-box;
	background-color: #fff;
}
.ysk_menu div{
	width: 50%;
	float: left;
}
.ysk_menu div a{
	display: block;
	text-align: center;
	width: 80px;
	margin: 0 auto !important;
}
.nothing_data{
	margin: 20% 0 0 0;
	text-align: center;
}
.nothing_data img{
	width: 100px;
	display: block;
	margin: 30px auto;
}
/**********编辑客户**********/
.edit_main{
	width: 100%;
	max-width: 750px;
	margin: 0 auto;
	background-color: #fff;
}
.edit_main .edit_title{
	padding: 10px;
	text-align: left;
	font-size: 16px;
	background-color: #f0f0f0;
}
.edit_main form{
	/*padding:0 15px;*/
}
.edit_main #form_box ul li{
	padding: 10px 10px 0 10px;
	border-bottom: 1px solid #e5e5e5;
}
.edit_main ul li:first-child{
	border:none;
}
.edit_main ul li .list_left{
	width: 70%;
}
.edit_main ul li p{
	color:#333;
}
.edit_main ul li input{
	width: 100%;
	padding: 10px 0;
	border:none;
	color:#999;
	margin: 0;
}
.edit_main ul li .list_right{
	width: 30%;
	margin-top: 8px;
}
.edit_main ul li .list_right a{
	display: block;
	width: 100px;
	text-align: center;
	padding: 6px 0;
	color:#125DA3;
	float: right;
	border:1px solid #125DA3;
	border-radius: 20px;
}
.li_btn div input{
	width: 80% !important;
	padding: 10px 0;
	border:none;
	color:#999;
	margin: 0;
}
.li_btn div a{
	display: block;
	width: 20%;
	height: 40px;
	box-sizing: border-box;
	padding-top: 14px;
	text-align: right;
}
.li_btn div a img{
	display: inline-block;
	width: 8px;
}
.kehu_name p span{
	color:#FF0000;
	font-size: 16px;
	padding-left: 5px;
}
.button_boxs{
	width: 100%;
	text-align: center;
	padding: 30px 0;
}
.button_boxs button,.button_boxs a{
	display: inline-block;
	width: 120px;
	padding: 10px 0;
	margin: 0 10px;
	border-radius: 5px;
}
.button_boxs button{
	color:#fff;
	border:1px solid #125DA3;
	background-color: #125DA3;
}
.button_boxs a{
	color:#666;
	border:1px solid #f0f0f0;
	background-color: #f0f0f0;
}
.sct_new1{
	width: 22% !important;
}
.sct_new2{
	width: 26% !important;
}
.add_new{
	width: 14% !important;
}

.hide_box{
	width: 100%;
	/*position: fixed;
	top:50px;
	left:0;
	z-index: 1000;*/
	background-color: #fff;
}
.hide_list{
	height: 100%;
}
.hide_list .shai_xuans{
	padding: 10px 10px;
}
.hide_list .shai_xuans select{
	display: block;
	height: 40px;
	border:1px solid #e5e5e5 !important;
	border-radius: 5px;
	margin: 0 5px 0 0;
	text-align:center;
	padding:10px 5px;
}
.hide_list .shai_xuans select option{
	text-align: center;
}
.hide_list .shai_xuans .set_name{
	width: 20%;
}
.hide_list .shai_xuans .set_start{
	width: 26%;
}
.search_box{
	width: 40%;
}
.search_box input{
	width: 70%;
	margin: 0;
	height: 40px;
	padding: 10px 5px;
	border: 1px solid #f0f0f0;
	border-radius: 5px 0 0 5px;
}
.search_box button{
	width: 30%;
	height: 40px;
	padding: 10px 5px;
	border-radius: 0 5px 5px 0;
	border: 1px solid #f0f0f0;
	background-color: #f0f0f0;
}
.search_box button img{
	width: 20px;
	display: block;
	margin: 0 auto;
}
.new_bul{
	text-align: center;
	height: 40px;
}
.new_bul a{
	color:#125DA3 !important;
	display: inline-block;
	box-sizing: border-box;
	padding: 10px 0 0 0;
}
.hide_list table{
	width: 96%;
	margin-left: 2%;
	text-align: center;
}
.hide_list table tr{
	height: 40px;
	padding: 10px;
	border-bottom: 1px solid #f0f0f0;
}
.list_content td input{
	display: block;
	width:64%;
	height: 26px;
	border-radius: 0 !important;
	margin: 2px auto 0 auto;
	background-color: #fff;
}
.hide_list table tr th:first-child{
	width: 26px;
}
.hide_inbtn{
	width: 100%;
	padding: 10% 0;
	text-align: center;
}
.hide_inbtn button{
	width: 130px;
	margin: 0 10px;
	display: inline-block;
	padding: 10px 0;
	border-radius: 5px;
}
.hide_inbtn .qu_xiao{
	border:1px solid #f0f0f0;
	background-color: #f0f0f0;
}
.hide_inbtn .sure_but{
	color:#fff;
	border:1px solid #125DA3;
	background-color: #125DA3;
}
.hangye_ul li{
	height: 50px;
	padding: 15px !important;
	border-bottom: 1px solid #e5e5e5 !important;
}
.hangye_ul li input{
	display: block;
	width: 18px !important;
	height: 18px;
}
.hangye_ul li label{
	display: block;
	margin-left: 10px;
}
.hide_inbtn{
	position: relative;
	bottom: 10%;
	left: 0;
}
.choose_ads{
	position: relative;
}
.choose_ads img{
	width: 8px;
	position: absolute;
	right:0px;
	top:24px;
}
#myAddrs {
	width: 100% !important;
	padding: 10px 0;
	margin-top: 10px;
	color: gray;
}
.scs_btn_span{
	display: none !important;
}
.mui-toast-container{
	width: 60% !important;
	left:50%;
}
.mui-toast-message{	
	padding:10px 10px !important;
}
/*插件样式修改*/
.cascade_scroll_selects .scs_container .scs_dialog .scs_selects_group_title{
	color:#125DA3 !important;
}
.cascade_scroll_selects .scs_container .scs_dialog .scs_btns .scs_btn_ok{
	background-color: #125DA3 !important;
}
.cascade_scroll_selects .scs_container .scs_dialog .scs_selects_group_view:before,
.cascade_scroll_selects .scs_container .scs_dialog .scs_selects_group_view:after{
	background-color: #125DA3 !important;
}
#cascade_scroll_selects {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99998;
}
.edit_main .add_ul li .list_left{
	position: relative;
}
.edit_main .add_ul li:first-child .list_left{
	width: 100%;
}
.add_ul li .a_right{
	width: 20px;
	height: 20px;
	position: absolute;
	bottom:12px;
	right: 0;
}
.add_ul li .a_right img{
	width: 8px;
	margin-top: 6px;
	display: block;
	float: right;
}
.add_ul li .list_right{
	position: absolute !important;
	top:0;
	right: 40px;
}
.kehu select{
	width: 23% !important;
}
.ysk_change tbody tr td:first-child+td{
	text-align: left !important;
	padding-left: 10px;
}
@media only screen and (min-width: 750px){
	.tab_menu a:first-child {
	    margin-left: 11%;
	}
	.tab_menu a {
	    margin-left: 11%;
	}
	.tab_box .tab_items .info_list span:first-child{
		width: 20%;
	}
	.tab_box .tab_items .info_list span+span{
		width: 80% !important;
	}
	.share_box {
	    width: 70%;
	    left: 15%;
	}
	.share_box .bu_men li {
	    width: 18%;
	}
	.share_box .teams li{
		display: block;
		width: 50%;
		float: left;
		color:#333;
		font-size: 14px;
		text-align: left;
		box-sizing: border-box;
		padding:5px;
		border-radius: 5px;
	}
	.ming_pian span:first-child{
		padding: 3% 15px 0 0 !important;
	}
}
@media only screen and (max-width: 740px){
	.ming_pian{
		height: 100px;
	}
	.ming_pian span:first-child{
		padding: 3.5% 15px 0 0 !important;
	}
}
@media only screen and (max-width: 414px) {
	.tab_menu a {
	    margin-left: 8.2%;
	}
	.share_box .bu_men li{
		width: 23%;
	}
	.ming_pian{
		height: 140px;
	}
	.ming_pian span:first-child{
		padding: 11.5% 15px 0 0 !important;
	}
}
@media only screen and (max-width: 375px) {
	.tab_menu a {
	    margin-left: 6.5%;
	}
	.share_box .teams li{
		width: 100%;
	}
	.ming_pian{
		height: 160px;
	}
	.ming_pian span:first-child{
		padding: 17.5% 15px 0 0 !important;
	}
}
@media only screen and (max-width: 360px) {
	.tab_menu a {
	    margin-left: 5.7%;
	}
	.share_box .bu_men li{
		width: 31%;
	}
}
@media only screen and (max-width: 320px) {
	.tab_menu a {
	    margin-left: 3%;
	}
	.tab_box .tab_items .info_list span{
		font-size: 0.8em;
	}
	.tab_box .tab_items .info_list span:first-child{
		color:#666;
		text-align: right;
		padding-right: 10px;
		background-color: #f0f0f0;
		width: 31%;
	}
	.tab_box .tab_items .info_list span+span{
		width: 69% !important;
		padding-left: 5px;
	}
	.share_box {
	    width: 90%;
	    position: absolute;
	    top: 10px;
	    left: 5%;
	    z-index: 10000;
	    overflow: hidden;
	    background-color: #fff;
	    border-radius: 10px;
	    box-shadow: 0 0 10px 5px #ccc;
	}
	.bottom_btn{
		width: 100%;
		text-align: center;
		padding-bottom: 10px;
	}
	.share_box .teams li {
	    padding: 3px 0;
	}
}
