body{ 
	margin:0 auto; 
	font-family: "Microsoft YaHei", "SimSun"; 
	font-size: 0.85rem;
	}
*{ 
	padding:0px; 
	margin:0px;
	}
a { text-decoration: none;}
a img{ border:0;}
img{ border:0;
	vertical-align: middle;
	}
ul{ margin:0; padding:0;}
li{list-style-type:none;}
input, button, select, textarea { outline: none;}
textarea {resize: none;}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.index-top{
	width:100%;
	height: 60px;
	max-width: 750px;
	margin: 0 auto;
	background: #125da3;
	position: relative;
	line-height: 60px;
	text-align: center;
	
}
.index-top p{
	color: #fff;
	font-size: 1.1rem;
	text-align: center;
}
.index-top .in-left{
	width:20%;
	position: absolute;
	left: 0;
	top: 0;
}
.index-top .in-lefta{
	width:15%;
	position: absolute;
	left: 3%;
	top: 0;
	color: #fff;
}
@media only screen and (max-width: 320px) {
	.index-top .in-lefta{
	width:18%;
	position: absolute;
	left: 3%;
	top: 0;
	color: #fff;
}
}
.index-top .in-lefta a{
	display: block;
	color: #fff;
}
.index-top .in-lefta a img{
	width:15px;
	float: left;
	margin: 15px 0 0 5%;
}
.index-top .in-left .le-a{
	display: block;
	position: relative;
}
.index-top .in-left img{
	width:60%;
}
.nav-tk{
	width:240%;
	height: 210px;
	position: absolute;
	top:45px;
	left: 9%;
	display: none;
	background: url(../img/nav_bg.png) center 0 no-repeat;
	background-size: 100% 100%;
}
@media only screen and (min-width: 750px) {
.nav-tk{
	width:200%;
	height: 210px;
	position: absolute;
	top:72px;
	left: 13%;
	display: none;
	background: url(../img/nav_bg.png) center 0 no-repeat;
	background-size: 100% 100%;
}
}

.nav-tk h2{
	width: 90%;
	margin: 0 auto;
	color: #000;
	font-size: 14px;
	font-weight: normal;
	margin-top: 20px;
	line-height: 60px;
	border-bottom: 1px solid #cccccc;
}
@media only screen and (max-width: 320px) {
.nav-tk h2{
	width: 90%;
	margin: 0 auto;
	color: #000;
	font-size: 12px;
	font-weight: normal;
	margin-top: 20px;
	line-height: 60px;
	border-bottom: 1px solid #cccccc;
}
}
.nav-tk ul.tk-ul{
	width: 80%;
	clear: both;
	margin: 0 auto;
}
.nav-tk ul.tk-ul li{
	border-bottom:1px solid #cccccc;
}
.nav-tk ul.tk-ul li:nth-last-child(1){
	border-bottom: none;
}
.nav-tk ul.tk-ul li a{
	display: block;
	color: #666666;
	font-size: 13px;
}
@media only screen and (max-width: 320px) {
.nav-tk ul.tk-ul li a{
	display: block;
	color: #666666;
	font-size: 12px;
}
}
.index-top .in-right{
	width:20%;
	position: absolute;
	right: 0;
	top: 0;
}
.index-top .in-righta{
	right: 10%;
}
.nav-a{
	width:10%;
	position: absolute;
	right: 0;
	top: 0px;
}
.nav-a img{
	width:50%;
}
.index-top .in-right .ra-r{
	width:100%;
	position: relative;
}
.index-top .in-right .ra-r a{
	display: block;
}
.index-top .in-right a span{
	background: #ff6400;
	border-radius: 40%;
	padding: 2px;
	color: #fff;
	line-height: 13px;
	margin-top: 14px;
	position: absolute;
	
	font-size: 0.8rem;
}
.index-top .in-right img{
	width:30px;
}
.index-nav{
	width:100%;
	min-height: 150px;
	height: auto;
	overflow: hidden;
	background: #125da3;
	max-width: 750px;
	margin: 0 auto;
	padding: 30px 0 20px;
}
.index-nav ul{
	width:100%;
	min-height: 60px;
	height: auto;
	overflow: hidden;
}
.index-nav ul li{
	width:25%;
	float: left;
	text-align: center;
}
.index-nav ul li p{
	line-height: 35px;
	color: #fff;
}
.index-nav ul li img{
	width:50%;
}
.index-xj{
	width:35%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border: 1px solid #fff;
	margin: 20px auto;
	border-radius: 30px;
}
.index-xj a{
	display: block;
	color: #fff;
	font-size: 1.0rem;
}
.index-cjjl{
	width:100%;
	min-height: 200px;
	height: auto;
	overflow: hidden;
	max-width: 750px;
	margin: 0 auto;
	background: #fff;
}
.index-cjjl ul.ul-tab{
	width:70%;
	height: 40px;
	line-height: 40px;
	margin: 20px auto 40px;
	border: 1px solid #125da3;
	border-radius: 10px;
}
.index-cjjl ul.ul-tab li{
	width:33.3%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: left;
	color: #125da3;
	border-right: 1px solid #125da3;
}
.index-cjjl ul.ul-tab li:nth-last-child(1){
	width:33.3%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: left;
	border-right: none;
}
.index-cjjl ul.ul-tab li.hit{
	color: #fff;
	background: #125da3;
}
.index-cjjl ul.ul-tab li.hit:nth-child(1){
	color: #fff;
	background: #125da3;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}
.index-cjjl ul.ul-tab li.hit:nth-child(3){
	color: #fff;
	background: #125da3;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}
.pane{
	width:100%;
	min-height: 200px;
	height: auto;
	overflow: hidden;
	display: none;
	padding: 20px 0;
	margin-bottom: 40px;
}
.pane ul.pa-ul li{
	width:50%;
	float: left;
	text-align: center;
	margin-bottom: 30px;
}
.pane ul.pa-ul li span{
	font-size: 1.6rem;
}
.pane ul.pa-ul li p{
	line-height: 40px;
}
.xjbq{
	width:100%;
	height: 100%;
	position: fixed;
	top: 60px;
	left: 0;
	background: rgba(0,0,0,0.9);
	display: none;
}
.xjbq-con{
	width:100%;
	min-height: 200px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
	max-width: 750px;
	
}
.xjbq-con p.tk-p{
	color: #fff;
	font-size: 1.0rem;
	margin: 15% auto 30px;
}
.xjbq-con ul{
	width:90%;
	min-height: 50px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
}
.xjbq-con ul li{
	width:33.3%;
	float: left;
	margin: 10px auto 0;
}
.xjbq-con ul li img{
	width:50%;
}
.xjbq-con ul li p.li-p{
	line-height: 40px;
	color: #fff;
}
.close-btn{
	width:10%;
	position: absolute;
	bottom: 30%;
	left: 45%;
}
.close-btn img{
	width:80%;
	
}
footer{
	width:100%;
	height: 50px;
	margin: 0 auto;
	border-top: 1px solid #e5e5e5;
	position: fixed;
	bottom: 0;
	background: #fff;
}
footer ul{
	width:100%;
	height: 50px;
	max-width: 750px;
	margin: 0 auto;
}
footer ul li{
	width:25%;
	float: left;
	text-align: center;
}
footer ul li img{
	width:25%;
	margin-top: 3px;
}
@media only screen and (min-width: 750px) {
footer ul li img{
	width:13%;
	margin-top: 3px;
}
}
footer ul li a.li-a p{
	color: #125da3;
}
footer ul li a p{
	font-size: 11px;
}
.sp-con{
	width:100%;
	min-height: 100px;
	height: auto;
	overflow: hidden;
	max-width: 750px;
	margin: 0 auto;
}
.sp-con ul.sp-ul{
	width:100%;
	min-height: 50px;
	height: auto ;
	overflow: auto;
	line-height: 50px;
	background: #f8f8f8;
	border-bottom: 1px solid #e5e5e5;
}
.sp-con ul.sp-ul li{
	width:25%;
	text-align: center;
	float: left;
	font-size: 0.9rem;
}
@media only screen and (max-width: 320px) {

.sp-con ul.sp-ul li{
	width:25%;
	text-align: center;
	float: left;
	font-size: 0.75rem;
}	
}
.sp-con ul.sp-ul li.li-hit{
	font-weight: bold;
	color: #125da3;
	border-bottom: 2px solid #125da3;
}
.panea{
	width:100%;
	min-height: 50px;
	height: auto;
	overflow: hidden;
	display: none;
}
.list-li{
	width:95%;
	min-height: 50px;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
}
ul.list-li li{
	border-bottom: 1px solid #e5e5e5;
	padding: 8px 0;
}
ul.list-li li:nth-last-child(1){
	border-bottom: none;
	padding: 8px 0;
}
ul.list-li li p{
	width:10%;
	float: left;
	line-height: 35px;
	margin-bottom: 0;
	color: #333;
	font-size: 0.9rem;
}
ul.list-li li a{
	width:90%;
	display: block;
	float: left;
	color: #333;
	font-size: 0.9rem;
	line-height: 35px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.ul.list-li li span.li-sp{
	display: inline-block;
	padding: 0 15px 0 0;
}
.list-li span.li-spa{
	color: #999999;
	font-size: 12px;
	clear: both;
}
@media only screen and (max-width: 320px) {

ul.list-li li p{
	width:10%;
	float: left;
	line-height: 35px;
	margin-bottom: 0;
	color: #333;
	font-size: 0.8rem;
}
ul.list-li li a{
	width:90%;
	display: block;
	float: left;
	color: #333;
	font-size: 0.8rem;
	line-height: 35px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

}
.daib-con{
	width:100%;
	min-height: 100px;
	height: auto ;
	overflow: hidden;
	max-width: 750px;
	margin: 0 auto;
}
.db-bt{
	width:100%;
	height: 50px;
	line-height: 50px;
	background: #f8f8f8;
	border-bottom: 1px solid #e5e5e5;
	padding: 0 3%;
	color: #999;
	font-size: 0.9rem;
}
.db-bta{
	color: #333;
}
.db-rq{
	width:100%;
	min-height: 50px;
	height: auto;
	overflow: hidden;
}
.db-rq table{
	width:100%;
	text-align: center;
	font-weight: normal;
}
.db-rq table tr.head{
	width:100%;
	height: 45px;
	line-height: 45px;
	background: #f3f9ff;
	border-bottom: 1px solid #e5e5e5;
	color: #999;
}
.db-rq table tr.head td{
	padding: 0;
}
.db-rq table tr td{
	padding: 10px 0;
}

.db-rq table tr.heada{
	width:100%;
	background: #fff;
	border-bottom: 1px solid #e5e5e5;
	color: #333333;
}
.db-rq table tr.heada p{
	border-radius: 50%;
	background: #ff6400;
	color: #fff;
	line-height: 30px;
	width:30px;
	height: 30px;
	margin: 0 auto;
}
.ht-ul{
	width: 100%;
	min-height: 50px;
	height: auto;
	overflow: hidden;
	border-bottom: 1px solid #e5e5e5;
	padding:0 0 5px 0;
}
.ht-ul ul{
	width: 100%;
	height: auto;
	margin: 0 auto;
}
.ht-ul ul li{
	width:33.3%;
	text-align: center;
	float: left;
}
.ht-ul ul li p{
	color: #333;
	line-height: 40px;
	margin-bottom: 0;
}
.ht-ul ul li span.li-span{
	color: #125da3;
}
.zx-sp{
	width:100%;
	min-height: 80px;
	height: auto;
	overflow: hidden;
	margin: 0 auto 50px;
}
/*添加应收款*/
.ysk-con{
	width:100%;
	min-height: 100px;
	height: auto;
	overflow: hidden;
	max-width: 750px;
	margin: 0 auto;
}
.ysk-list{
	width:100%;
	min-height: 20px;
	height: auto;
	overflow: hidden;
	border-bottom: 1px solid #e5e5e5;
	line-height: 40px;
	padding: 0 3%;
}
.ysk-list p{
	color: #333333;
	font-size:0.85rem;
	font-weight: bold;
}
.ysk-list p span{
	color: #ff6400;
}
.ysk-list input{
	background: #FFF;
	border: none;
	margin: 0;
	padding: 0;
	font-size:0.85rem;
}
.ysk-list input.list-in{
	width:75%;
	float: left;
}
.ysk-list img{
	width: 10px;
	margin-top: 12px;
	float: right;
}
.tjy-btn{
	width:100%;
	min-height: 60px;
	height: auto;
	overflow: hidden;
	margin: 40px auto 60px;
}
.tjy-btn .tjy-btna{
	width:80%;
	height: 40px;
	line-height: 40px;
	margin: 0 auto;
}
.tjy-btn .tjy-btna ul li{
	width:30%;
	height: 40px;
	text-align: center;
	border-radius: 10px;
	float: left;
	margin: 0 1.5%;
	font-size: 0.9rem;
}
.tjy-btn .tjy-btna ul li a{
	display: block;
}
.tjy-btn .tjy-btna ul li.tj-li{
	color: #FFF;
	background: #125da3;
}
.tjy-btn .tjy-btna ul li.tj-li a{
	color: #fff;
}
.tjy-btn .tjy-btna ul li.tj-lia{
	background: #e5e5e5;
}
.kh-con{
	width:100%;
	height: 100%;
	margin: 0 auto;
	position: fixed;
	overflow-y: scroll;
	top: 50px;
	left: 0;
	display: none;
	background: #fff;
}
.kh-con .kh-cona{
	width: 100%;
	min-height: 100px;
	height: auto;
	overflow: hidden;
	max-width: 750px;
	margin: 0 auto;
	background: #fff;
}
.kh-con .kh-top{
	width:100%;
	height: 50px;
	border-bottom: 1px solid #e5e5e5;
}
.kh-con .kh-top select{
	width: 28%;
	height: 35px;
	padding: 5px 5px;
	float: left;
	text-align: center;
	background: url(../img/sx_se.png) no-repeat;
	margin: 7px 1% 0 2%;
	background-size: 100% 100%;
}
.kh-con .kh-top select.se-se{
	width: 22%;
	height: 35px;
	padding: 5px 5px;
	float: left;
	text-align: center;
	background: url(../img/sx_se.png) no-repeat;
	margin: 7px 1% 0 0;
	background-size: 100% 100%;
}
.kh-con .kh-top .kh-tr{
	width:34%;
	height: 35px;
	line-height: 35px;
	float: left;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	margin: 7px 0;
}
.kh-con .kh-top .kh-tr .tr-l{
	width:75%;
	height: 35px;
	line-height: 35px;
	float: left;
	border: none;
	background: none;
}
.kh-con .kh-top .kh-tr .tr-r{
	width:25%;
	background: #e5e5e5;
	height: 34px;
	margin-top: 0;
	text-align: center;
	line-height: 34px;
	float: left;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}
.kh-con .kh-top .kh-tr .tr-r a{
	display: block;
}
.kh-con .kh-top .kh-tr .tr-r img{
	width: 20px;
	margin: 5px 20%;
}
.kh-con .kh-top p{
	width: 10%;
	float: left;
	line-height: 50px;
	text-align: center;
}
.kh-con .kh-top p a{
	color: #125da3;
}
table.tj-ta{
	width:100%;
	min-height: 50px;
	height: auto;
	table-layout: fixed;
	overflow: hidden;
}
table.tj-ta tr{
	border-bottom: 1px solid #e5e5e5;
	padding: 0 3%;
}
table.tj-ta tr th{
	padding: 10px 0;
}
table.tj-ta tr td{
	padding: 10px 0;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;	
    -o-text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}
table.tj-ta tr td input{
	width: 20px;
	float: left;
	margin-left: 5%;
	margin-top: 5px;
}
table.tj-ta tr td p{
	color: #333;
	text-align: left;
	overflow: hidden;
	-o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space:nowrap;
    -webkit-box-orient: vertical;
	 
}
.ta-btn{
	width:80%;
	min-height: 50px;
	height: auto;
	overflow: hidden;
	margin: 30px auto 60px;
}
.ta-btn .ta-btnl{
	width:45%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: left;
	background: #e5e5e5;
	border-radius: 5px;
}
.ta-btn .ta-btnr{
	float: right;
	background: #125da3;
}
.ta-btn .ta-btnl a{
	display: block;
	color: #666666;
}
.ta-btn .ta-btnr a{
	display: block;
	color: #fff;
}
.kh-con .kh-top select.se-bm{
	width:20%;
	background: url(../img/se_bm.png) no-repeat center 0;
	background-size: 100% 100%;
}
.yh-sr{
	width:58%;
	margin-left: 2%;
	float: left;
}
.kh-con .kh-top .yh-sr p{
	width: 28%;
	float: left;
}
.yh-sr input{
	width: 70%;
	padding: 0;
	margin:5px auto 0;
	float: left;
}
@media only screen and (max-width: 320px) {
  .kh-con .kh-top .yh-sr p{
	width: 30%;
	float: left;
	font-size: 0.8rem;
}

}
.yh-topr{
	
	height: 40px;
	padding: 0 10px;
	float: left;
	background: #e5e5e5;
	border-radius: 5px;
	text-align: center;
	line-height: 30px;
	margin: 5px;
}
.yh-topr a{
	display: block;
}
.yh-topr img{
	width: 20px;
	margin: 10px 0;
}
table.tj-tab{
	width:100%;
	text-align: center;
}
table.tj-tab tr{
	padding: 10px 0;
	border-bottom: 1px solid #e5e5e5;
}
table.tj-tab tr th{
	padding: 10px 0;
}
table.tj-tab tr td{
	padding: 10px 0;
}
table.tj-tab tr td input{
	float: left;
	margin-left: 8%;
	margin-top: 5px;
}
table.tj-tab tr td p{
	text-align: left;
	float: left;
	color: #333;
}
/*收款单详情页面样式*/
.skd-con{
	width:100%;
	min-height: 100px;
	height: auto;
	overflow: hidden;
	max-width: 750px;
	margin: 0 auto;
}
.skd-con .skd-cona{
	width:92%;
	min-height: 100px;
	height: auto;
	overflow: hidden;
	margin: 0px auto;
}
.skd-con .skd-conaa{
	width:100%;
	min-height: 100px;
	height: auto;
	overflow: hidden;
	border: 1px solid #e5e5e5;
	margin: 15px auto;
}
.skd-li{
	width: 100%;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #e5e5e5;
}
.skd-li .skd-lileft{
	width:25%;
	float: left;
	height: 39px;
	text-align: right;
	padding-right: 2%;
	background: #f6f6f6;
	color: #666666;
}
.skd-li .skd-liright{
	width:73%;
	float: left;
	text-align: left;
	padding-left: 2%;
	color: #333;
}
.skd-li .skd-liright input{
	width:100%;
	background: none;
	border: none;
	padding: 0;
	margin: 0;
}
.sdl-btna{
	clear: both;
	width:63%;
	line-height: 40px;
	margin-left: 28%;
}
.sdl-btna a.del-xg{
	padding: 5px 10px;
	background: #125da3;
	margin-right: 10px;
	border-radius: 5px;
	color: #fff;
}
.sdl-btna a.del-c{
	border: 1px solid #125da3;
	color: #125da3;
	padding: 5px 10px;
	border-radius: 5px;
}
.sk-zt{
	width:100%;
	height: 60px;
	line-height: 60px;
	background: #f8f8f8;
	border-bottom: 1px solid #e5e5e5;
	padding: 0 3%;
	color: #333;
}
.sk-zt p{
	float: left;
	color: #333;
	margin-right: 4%;
}
.sk-zt .sk-zta{
	width:70%;
	float: left;
}
.sk-aa{
	width:100%;
	min-height: 100px;
	height: auto;
	overflow: hidden;
}
.sk-aat{
	width:100%;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #e5e5e5;
	font-weight: bold;
	text-align: center;
}
.sk-aat .sk-aatl{
	width: 25%;
	float: left;
}
.sk-aat .sk-aatm{
	width: 50%;
	float: left;
}
.sk-aat .sk-aatr{
	width: 25%;
	float: left;
}
.sk-ab{
	width:100%;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #e5e5e5;
	text-align: center;
}
.sk-ab .sk-abl{
	width:25%;
	float: left;
	white-space: nowrap;
	overflow: hidden;
　　text-overflow: ellipsis;
}
.sk-ab .sk-abl input{
	float: left;
	margin-left: 8%;
	margin-top: 20px;
}
.sk-ab .sk-abl p{
	width:75%;
	float: left;
	color: #333;
}
.sk-ab .sk-abm{
	width:50%;
	float: left;
	text-align: left;
	padding: 0 2%;
}
.sk-ab .sk-abr{
	width:25%;
	float: left;
}
input.ts-ce{
	width: 15px;
	height: 15px;
	margin-top: 24px;
	float: left;
}
.ts-cea{
	color: #125da3;
}
